@media (min-width: 1700px) {
    .info .parallax-item:nth-child(1) {
        top: -120px;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 9px;
    }

    .intro__menu-list::before {
        left: -.65rem;
    }

    .intro__menu-list::after {
        left: -.65rem;
    }

    .position__item:nth-child(2) {
        left: 68.5rem;
    }

    .position__item:nth-child(3) {
        left: 88rem;
    }

    .position__item:nth-child(4) {
        right: 4rem;
    }

    .position__item:nth-child(5) {
        right: -3.5rem;
    }

    .position__item:nth-child(6) {
        right: 28rem;
    }

    .territory__item-img {
        left: -3.5rem;
    }

    .info__item-img {
        max-width: 14rem;
        max-height: 14rem;
    }

    .info__item-wrap:nth-child(2) .info__item-img {
        max-width: 11rem;
    }
}

@media (max-width: 1190px) {
    html {
        font-size: 8px;
    }

    .intro__menu-list::before {
        left: -.7rem;
    }

    .intro__menu-list::after {
        left: -.7rem;
    }

    .territory__item-img {
        max-width: 6.3rem;
    }

    .territory__item:last-child {
        .territory__item-img {
            max-width: 6rem;
        }
    }
}