@media (max-width: 1023px) {
    .intro__menu {
        display: none;
    }

    .intro__title-content {
        margin-left: 0;
    }

    .intro__content {
        justify-content: space-around;
    }

    .info .parallax-item:nth-child(1) {
        position: absolute;
        max-width: 89.6rem;
        right: -15rem !important;
    }

    .info__item-wrap:nth-child(2) .info__item {
        margin-left: 3rem;
    }

    .header .btn-main {
        display: none;
    }

    .territory {
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0,0.3);
            z-index: -1;
        }
    }

    .time-book__info {
        margin-right: 0;
    }

    .time-book__video-description {
        right: 10px;
    }

    .time-book__item {
        max-width: 29rem;
    }

    .time-book__title-content {
        max-width: 58.5rem;
    }

    .position__img {
        display: none;
    }

    .position__item {
        position: relative;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        top: 0 !important;
        margin-bottom: 35px;
        margin-left: 15px;

        &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: -21px;
            top: 10px;
            background-color: #e1c9aa;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .position__list {
        padding-top: 15px;
        padding-bottom: 20px;
        border-left: 2px solid #e6e7e7;
        max-width: 320px;
        width: 100%;
    }

    .position__item-img-mob {
        max-width: 150px;
        display: block;
        position: absolute;
        top: 0;
        right: -170px;
    }

    .apartments__img {
        max-width: 45rem;
    }

    .deal .parallax-item:nth-child(1) {
        position: absolute;
        max-width: 45.7rem;
        top: 29rem !important;
    }

    .builders__list {
        margin-left: -7px;
        margin-right: -7px;
        padding-top: 20px;
    }

    .builders__item-wrap {
        padding-left: 7px;
        padding-right: 7px;
    }

    .builders__item-border {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }

    .builders__item {
        padding: 10px;
    }

    .builders__item-wrap .builders__item-img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: static !important;
        min-width: 0 !important;
        max-width: 300px;
        min-height: 241px;
        max-height: 241px;
    }

    .main-form__title {
        padding-bottom: 25px;
    }

    .buying__card-img {
        max-width: 21rem;
    }

    .buying__card-content {
        margin-left: 0;
    }

    .investing .parallax-item:nth-child(1) {
        top: 31rem !important;
        max-width: 48.9rem;
        position: absolute;
    }

    .excursion__item {
        max-width: 160px !important;
    }

    .excursion {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .footer .container {
        flex-wrap: wrap;
    }

    .footer__logo {
        order: 1;
        margin-bottom: 20px;
    }

    .footer__info-panel {
        order: 4;
        max-width: 60%;
        width: 100%;
    }

    .footer__social {
        order: 2;
    }

    .footer__tel {
        order: 3;
        width: 40%;
    }

    .footer__social {
        max-width: 70%;
        width: 100%;
        justify-content: flex-end;
    }

    .contacts__info::before {
        width: 35.5rem;
        height: 35.5rem;
        right: 25rem;
    }

    .contacts__info-item {
        margin-right: 20px;
    }

    .contacts__info {
        padding: 20px 15px;
    }

    .contacts__info-left {
        margin-right: 0;
    }

    .excursion__item {
        padding-left: 40px;
    }

    .excursion__list {
        padding-top: 5rem;
    }

    .structure .slick-prev {
        left: 5px;
        z-index: 2;
    }

    .structure .slick-next {
        right: 5px;
        z-index: 2;
    }

    .investing__info-description {
        padding-top: 20px;
        padding-bottom: 20px;
        top: 35rem;
    }

    .structure .parallax-item:nth-child(1) {
        position: absolute;
        max-width: 270px;
    }

    .structure .parallax-item:nth-child(2) {
        position: absolute;
        max-width: 400px;
    }

    .popup {
        max-width: none;
        width: 97%;
    }

    .popup-small {
        max-width: 51.6rem;
        width: 100%;
    }

    .popup__img-bg {
        max-width: 42.6rem;
    }

    .popup__img {
        max-width: 50rem;
    }

    .structure .parallax-wrap {
        display: none;
    }
}

@media (max-width: 740px) {
    .info .container {
        flex-direction: column;
        align-items: center;
    }

    .info .parallax-item:nth-child(1) {
        top: 274px !important;
    }

    .info__title-content {
        margin-bottom: 30px;
    }

    .territory .container {
        flex-direction: column;
        align-items: center;
    }

    .territory__list {
        display: flex;
        justify-content: space-between;
        max-width: 505px;
        margin: 0 auto;
    }

    .territory__item:nth-child(odd) {
        margin-left: 0;
    }

    .territory__title-content {
        padding-top: 0;
    }

    .territory__title-content {
        padding-bottom: 15px;
    }

    .structure__slide-item-img {
        max-width: 34rem;
    }

    .time-book__item {
        padding-bottom: 4rem;
    }

    .structure__slide-item {
        height: 34rem;
    }

    .time-book .btn-main {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .time-book__video-description {
        right: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .time-book .container {
        flex-direction: column;
        align-items: center;
    }

    .time-book {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .apartments .parallax-item:nth-child(1) {
        max-width: 20rem;
    }

    .apartments .parallax-item:nth-child(2) {
        max-width: 400px;
    }

    .apartments__img {
        max-width: 35rem;
        height: 37rem;
    }

    .apartments__content h4 {
        padding-bottom: 20px;
    }

    .apartments__content ul li {
        padding-bottom: 15px;
    }

    .apartments__content ul {
        padding-bottom: 20px;
    }

    .apartments {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .position {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .deal .parallax-item:nth-child(1) {
        display: none;
    }

    .deal__content {
        margin: 0 auto;
        padding-right: 0;
    }

    .deal {
        padding-bottom: 60px;
    }

    .builders__item-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .builders__list {
        margin-left: 0;
        margin-right: 0;
    }

    .builders__item {
        max-width: 400px;
        margin: 0 auto;
    }

    .builders__item-img {
        margin: 0 auto;
    }

    .builders__item-wrap .builders__item-img {
        max-width: 230px;
        min-height: 0;
        justify-content: flex-end;
    }

    .builders__item p {
        max-width: 250px;
        margin: 0 auto;
    }

    .builders__item-wrap:nth-child(2) .builders__item-img {
        max-width: 190px;
    }

    .builders {
        padding-bottom: 50px;
    }

    .buying .container {
        flex-direction: column;
        align-items: center;
    }

    .main-form::before {
        display: none;
    }

    .buying__title-content {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .buying {
        padding-bottom: 80px;
        padding-top: 70px;
    }

    .investing .container {
        flex-direction: column;
        align-items: center;
    }

    .investing {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .investing .parallax-item:nth-child(1) {
        display: none;
    }

    .investing__info-description {
        position: static;
    }

    .investing__info-description::before {
        display: none;
    }

    .investing__info-text {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .excursion .container {
        flex-direction: column;
        align-items: center;
    }

    .excursion__list {
        padding-top: 0;
        margin-bottom: 30px;
    }

    .main-form {
        background-color: rgba(0,0,0,0.5);
        padding: 20px;
    }

    .contacts__info {
        flex-direction: column;
        align-items: center;
    }

    .contacts__info-left {
        max-width: none;
        margin-bottom: 40px;
    }

    .contacts__info-right {
        max-width: none;
    }

    .contacts__info::before {
        left: 20px;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer__social {
        justify-content: center;
        margin-bottom: 18px;
    }

    .footer__logo {
        margin-bottom: 18px;
    }

    .footer__tel {
        width: auto;
        margin-bottom: 18px;
    }

    .footer__info-panel {
        max-width: none;
    }

    .intro__content-play {
        left: 60%;
        top: 43%;
    }

    .intro__play-description {
        display: none;
    }

    .intro__content {
        flex-direction: column;
        align-items: center;
    }

    .intro__info--mob {
        position: absolute;
        right: 15px;
        bottom: 0;
    }

    .structure .slick-dots li {
        margin-bottom: 15px;
    }

    .structure .slick-dots {
        top: -12rem;
    }

    .structure__slide-item-content p {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .structure__slide-item-content h4 {
        font-size: 3rem;
    }

    .structure {
        padding-bottom: 80px;
    }

    .excursion__title-content {
        margin-right: 0;
    }

    .popup .main-form {
        background-color: transparent;
        padding: 30px 20px;
    }

    .popup {
        max-width: 51.6rem;
        width: 100%;
    }

    .popup__img {
        display: none;
    }

    .popup__img-bg {
        display: none;
    }

    .popup__info {
        display: none;
    }

    .popup-quiz .main-form {
        padding-top: 55px;
    }

    .main-form__tabs {
        max-width: none;
    }

    
}

@media (max-width: 580px) {
    h1 {
        font-size: 4rem;
        line-height: 5rem;
        padding-bottom: 20px;
    }

    .main-title {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .header__btn-order {
        display: none;
    }

    .header__info {
        max-width: none;
        width: auto;
    }

    .intro__title-content {
        padding-top: 0;
    }

    .intro__title-content p {
        padding-bottom: 20px;
    }

    .intro {
        padding-bottom: 70px;
    }

    .intro__content {
        padding-bottom: 130px;
    }

    .intro__content-play {
        left: 50%;
        top: 51%;
        transform: translate(-50%, 0);
    }

    .info {
        padding-bottom: 60px;
    }

    .territory__list {
        flex-direction: column;
        align-items: center;
    }

    .territory__item {
        margin-bottom: 20px;
    }

    .territory .main-title {
        padding-bottom: 20px;
    }

    .main-title__description {
        padding-bottom: 20px;
    }

    .structure {
        padding-top: 70px;
    }

    .structure__slide-item-img {
        max-width: 20rem;
        margin-right: 15px;
    }

    .structure__slide-item-content {
        margin-right: 15px;
    }

    .structure__slide-item::before {
        width: 95%;
        height: 91%;
    }

    .structure__slide-item {
        height: 28rem;
    }

    .time-book__list {
        flex-direction: column;
        align-items: center;
    }

    .time-book__info-img {
        max-width: 180px;
        margin: 0 auto;
    }

    .time-book__info {
        margin-top: 50px;
    }

    .apartments__img::after {
        width: 6rem;
        height: 6rem;
    }

    .apartments__item {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        padding: 15px;
    }

    .apartments__content h4 {
        font-size: 2.6rem;
    }

    .apartments__content ul li {
        padding-bottom: 10px;
    }

    .apartments__item::before {
        display: none;
    }

    .apartments__img {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .selection__panel {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }

    .selection .btn-main {
        margin-bottom: 20px;
    }

    .selection .main-title__description {
        padding-bottom: 40px;
    }

    .structure__slide-item-content h4 {
        font-size: 2.6rem;
        line-height: 3.6rem;
    }

    .apartments .parallax-item:nth-child(1) {
        display: none;
    }

    .apartments .parallax-item:nth-child(2) {
        display: none;
    } 

    .apartments__list {
        padding-top: 0;
    }

    .deal__copyright {
        margin-left: 0;
    }

    .structure__slide-item {
        flex-direction: column;
        height: auto;
    }

    .structure__slide-item-img {
        height: 34rem;
        max-width: none;
        border-radius: 23px;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .structure__slide-item::before {
        display: none;
    }

    .structure__slide-item-content {
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .structure .slick-arrow {
        top: 36%;
    }

    .investing__item strong {
        font-size: 3rem;
    }

    .investing__item strong span {
        font-size: 2.6rem;
    }

    .popup {
        max-width: none;
        width: 97%;
    }

    .popup {
        padding: 15px;
    }

    .popup-quiz .btn-main {
        margin-bottom: 0;
    }

    .popup-quiz--last .btn-main {
        margin-bottom: 20px;
    }
}

@media (max-width: 420px) {
    .intro__info-num {
        font-size: 6rem;
    }

    .intro__info-num {
        left: -3rem;
    }

    .intro__info--num {
        margin-left: 3rem;
    }

    .intro__info {
        max-width: 16rem;
        height: 16rem;
        padding-left: 40px;
        padding-right: 10px;
    }

    h1 {
        max-width: 350px;
    }

    .intro__content-play {
        top: 56%;
    }

    .info .parallax-item:nth-child(1) {
        top: 300px !important;
    }

    .position__item-img-mob {
        max-width: 125px;
        right: -160px;
    }

    .contacts__info-left {
        flex-direction: column;
        margin-bottom: 0;
    }

    .contacts__info-right {
        flex-direction: column;
    }

    .contacts__info-item {
        margin-bottom: 20px;
    }

    .footer__info-panel {
        flex-direction: column;
        align-items: center;
    }

    .footer__about {
        margin-bottom: 18px;
    }

    .structure {
        padding-bottom: 50px;
    }

    .structure .slick-dots li a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .intro__title-content .btn-main {
        margin-left: 0;
        max-width: none;
    }

    .main-form {
        padding: 10px;
    }

    .structure .slick-dots li {
        margin-right: 10px;
    }

    .position__item-img-mob {
        right: -135px;
    }

    .popup .main-form__title {
        font-size: 2.5rem;
    }

    .popup-quiz .main-form__title {
        padding-bottom: 3rem;
    }

    .popup-quiz .main-form {
        padding-top: 65px;
    }
}

@media (max-width: 370px) {
    .intro__info {
        max-width: 14rem;
        height: 14rem;
        padding-left: 30px;
        padding-right: 15px;
    }

    .intro__info-num {
        font-size: 5rem;
    }

    .intro__info-img {
        max-width: 4rem;
    }

    .intro__info--num {
        margin-left: 2.5rem;
    }

    .info__list {
        flex-direction: column;
        align-items: center;
    }

    .info__item {
        margin: 0 auto !important;
        margin-bottom: 30px !important;
    }

    .info .parallax-item:nth-child(1) {
        display: none;
    }

    .info__item-wrap:nth-child(3) .info__item-img {
        position: absolute;
        right: -3.9rem;
        bottom: -3rem;
    }

    .info {
        padding-bottom: 50px;
    }

    .structure .slick-dots {
        display: none !important;
    }

    .structure .main-title {
        padding-bottom: 30px;
    }

    .btn-main span {
        font-size: 1.1rem;
    }

    .excursion__item {
        max-width: none !important;
    }

    .intro__content-play {
        top: 57%;
    }

    .popup .main-form {
        padding-left: 10px;
        padding-right: 10px;
    }

    .popup {
        padding: 10px;
    }
}