.parallax-wrap {
  position: absolute !important;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
  top: 0;
}

.info .parallax-item:nth-child(1) {
	top: 0 !important;
	max-width: 94.6rem;
	margin-left: auto;
	left: auto !important;
	right: -4rem !important;
}

.apartments .parallax-item:nth-child(1) {
  top: 8.8rem !important;
  max-width: 34.3rem;
  margin-left: auto;
  left: auto !important;
  right: -2rem !important;
}

.apartments .parallax-item:nth-child(2) {
  top: 72rem !important;
  left: 5rem !important;
}

.deal .parallax-item:nth-child(1) {
  top: 16rem !important;
  left: -2rem !important;
  max-width: 78.7rem;
}

.structure .parallax-item:nth-child(1) {
  top: 12.5rem !important;
  left: -12rem !important;
  max-width: 31.8rem;
}

.structure .parallax-item:nth-child(2) {
  top: 55rem !important;
  right: -7rem !important;
  left: auto !important;
  max-width: 43.2rem;
}

.structure .parallax-item:nth-child(3) {
  top: 12.5rem !important;
  left: -12rem !important;
  max-width: 38.2rem;
}

.structure .parallax-item:nth-child(4) {
  top: 10rem !important;
  right: -7rem !important;
  left: auto !important;
  max-width: 59.4rem;
}

.structure .parallax-item:nth-child(5) {
  top: 12.5rem !important;
  left: -12rem !important;
}

.structure .parallax-item:nth-child(6) {
  top: 65rem !important;
  right: -7rem !important;
  left: auto !important;
}

.structure .parallax-item:nth-child(7) {
  top: 57rem !important;
  left: -10rem !important;
  max-width: 85.6rem;
}

.structure .parallax-item:nth-child(8) {
  top: 20rem !important;
  left: -7rem !important;
  max-width: 35.1rem;
}

.structure .parallax-item:nth-child(9) {
  top: 55rem !important;
  right: -7rem !important;
  left: auto !important;
  max-width: 45.6rem;
}

.investing .parallax-item:nth-child(1) {
  top: 22rem !important;
  max-width: 67.9rem;
  right: 0rem !important;
  margin-left: auto;
}
.structure .parallax-item {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.structure .parallax-item.visible {
  opacity: 1;
}