@import "normalize";
@import "variables";
@import "parallax";
@import "slick";
@import "fancybox";

html {
	font-size: 10px;
}


@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/subset-CenturyGothic.woff2') format('woff2'),
        url('../fonts/subset-CenturyGothic.woff') format('woff'),
        url('../fonts/subset-CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/subset-CenturyGothic-Bold.woff2') format('woff2'),
        url('../fonts/subset-CenturyGothic-Bold.woff') format('woff'),
        url('../fonts/subset-CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/subset-FuturaPT-Demi.woff2') format('woff2'),
        url('../fonts/subset-FuturaPT-Demi.woff') format('woff'),
        url('../fonts/subset-FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/subset-FuturaPT-Light.woff2') format('woff2'),
        url('../fonts/subset-FuturaPT-Light.woff') format('woff'),
        url('../fonts/subset-FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


.overflowHidden {
  overflow: hidden;
} 

img {
	max-width: 100%;
	height: auto;
}

body {
  font-family: 'Century Gothic', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.parallax-content {
	overflow: hidden;
}

.container {
  max-width: 120rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.intro-block {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header {
	padding-top: 2.7rem;
	padding-bottom: 6rem;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.btn-main {
		margin-left: 2.7rem;
	}
}

.header__logo {
	display: block;
	width: 8.6rem;
}

.btn-main {
	position: relative;
	display: block;
	max-width: 30rem;
	width: 100%;
	z-index: 1;
	text-align: center;
	line-height: 7.4rem;
	border-radius: 100px;
	overflow: hidden;
	transition: all .3s;
	user-select: none;
	box-shadow: 0px 38px 65px 0px rgba(234, 215, 186, 0.57);

	span {
		position: relative;
		display: block;
		font-size: 1.2rem;
		text-transform: uppercase;
		color: #2a2a2a;
		font-weight: 700;
		color: #2a2a2a;
		letter-spacing: 0.04em;
		z-index: 1;
		text-align: center;
		opacity: 0.82;

		&::before {
			content: "";
			position: absolute;
			background-image: url("../img/btn-mask.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			height: 100%;
			left: 0;
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: -moz-linear-gradient( 0deg, rgb(225,201,170) 0%, rgb(232,205,161) 99%);
		background-image: -webkit-linear-gradient( 0deg, rgb(225,201,170) 0%, rgb(232,205,161) 99%);
		background-image: -ms-linear-gradient( 0deg, rgb(225,201,170) 0%, rgb(232,205,161) 99%);
		z-index: -1;
		transition: all .3s;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: -moz-linear-gradient( 180deg, rgb(225,201,170) 0%, rgb(232,205,161) 99%);
		background-image: -webkit-linear-gradient( 180deg, rgb(225,201,170) 0%, rgb(232,205,161) 99%);
		background-image: -ms-linear-gradient( 180deg, rgb(225,201,170) 0%, rgb(232,205,161) 99%);
		box-shadow: 0px 38px 65px 0px rgba(234, 215, 186, 0.57);
		z-index: -1;
		transition: all .3s;
		opacity: 0;
	}

	&:hover {
		transform: translate(0px, -3px);

		&::before {
			opacity: 1;
		}

		&::after {
			opacity: 1;
		}
	}

	&:active {
		transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
	}
}

.btn-main--transparent {
	border: 1px solid #b9a9a3;
	max-width: 34.4rem;
	line-height: 6.8rem;
	box-shadow: none;

	span {
		color: #ffffff;
	}

	&::before {
		display: none;
	}

	&::after {
		display: none;
	}
}

.btn-main--2col {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7.4rem;

	span {
		line-height: 1.4rem;
	}
}

.header__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 47.6rem;
	width: 100%;
}

.header__tel {
	position: relative;
	display: block;
	font-size: 2.4rem;
	color: #fff;
	padding-left: 4.2rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url('../img/tel.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 2rem;
		height: 2rem;
		top: 50%;
		transform: translate(0, -50%);
		left: 0;
	}
}

.header__btn-order {
	position: relative;

	span {
		font-size: 1.2rem;
		color: #ffffff;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		opacity: 0.82;
		transition: all .3s;
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #fff;
		bottom: -7px;
		left: 0;
		pointer-events: none;
	}

	&:hover {

		span {
			opacity: 1;
		}
	}
}

.intro {
	padding-bottom: 12.5rem;

	.container {
		position: relative;
	}
}

.intro__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 13.5rem;
}

.intro__menu {
	position: relative;
	max-width: 19.6rem;
	width: 100%;
	margin-left: -4.5rem;
	margin-top: 3.5rem;
	opacity: 0;
	pointer-events: none;

	&::before {
		content: "";
		position: absolute;
		width: 3px;
		height: 3px;
		border-radius: 50%;
		left: -1px;
		top: -0.7rem;
		background-color: #fff;
	}

	&::after {
		content: "";
		position: absolute;
		width: 3px;
		height: 3px;
		border-radius: 50%;
		left: -1px;
		bottom: -0.7rem;
		background-color: #fff;
	}
}

.intro__menu-list {
	position: relative;
	width: 100%;
	border-left: 1px solid rgba(225, 201, 170, 0.7);
	padding-top: 5rem;
	padding-bottom: 5rem;

	&::before {
		content: "";
		position: absolute;
		width: 1.3rem;
		height: 1.3rem;
		border-radius: 3px;
		border: 1px solid rgba(255,255,255,0.35);
		left: -.7rem;
		top: -1.2rem;
	}

	&::after {
		content: "";
		position: absolute;
		width: 1.3rem;
		height: 1.3rem;
		border-radius: 3px;
		border: 1px solid rgba(255,255,255,0.35);
		left: -.7rem;
		bottom: -1.2rem;
	}


	li {
		position: relative;
		padding-left: 2.8rem;
		padding-bottom: 4.7rem;

		&:last-child {
			padding-bottom: 0;
		}

		&::before {
			content: "";
			position: absolute;
			width: 3px;
			height: 3px;
			border-radius: 50%;
			left: -2px;
			top: .5rem;
			background-color: #fff;
		}
	}

	a {
		display: block;
		font-size: 1.2rem;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 0.04em;
		transition: all .3s;

		&:hover {
			transform: translate(3px, 0px);
		}
	}
}

.intro__title-content {
	max-width: 56.4rem;
	width: 100%;
	margin-left: -12rem;
	padding-top: 4.5rem;

	p {
		font-size: 2rem;
		color: #ffffff;
		padding-left: 3px;
		padding-bottom: 4.5rem;
		opacity: 0.86;
	}

	.btn-main {
		margin-left: -.7rem;
	}
}

h1 {
	font-size: 5rem;
	line-height: 6rem;
	color: #ffffff;
	font-weight: 400;
	padding-bottom: 4rem;
}

.intro__info {
	position: relative;
	max-width: 18.4rem;
	height: 18.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #2d3150;
	padding-left: 5.5rem;
	padding-right: 2.5rem;

	p {
		font-family: 'Futura PT';
		font-size: 1.6rem;
		color: #ffffff;
		line-height: 2.4rem;
		font-weight: 300;
		opacity: 0.76;
	}
}

.intro__info-img {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: -1.5rem;
	max-width: 6rem;
}

.intro__info-num {
	font-family: 'Futura PT Demi';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: -6rem;
	font-size: 8.5rem;
	color: #ffffff;
	font-weight: 600;
}

.intro__info--num {
	margin-left: 5rem;
}

.intro__content-play {
	position: absolute;
	top: 39%;
	right: 35rem;
	width: 10.9rem;
}

.intro__play-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 10.9rem;
	height: 10.9rem;
	border-radius: 50%;
	background-color: #fff;
	z-index: 2;
	transition: all .3s;

	img {
		width: 2.1rem;
	}
}

.circle-pulse  {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  animation: pulse 3s infinite ease-out;
  transform: translate(-50%, -50%);
}

.circle-1 {
  width: 120px;
  height: 120px;
  background-color: #fff;
}

.circle-2 {
  width: 110px;
  height: 110px;
  background-color: #fff;
  -webkit-animation-delay: 0.333s;
          animation-delay: 0.333s;
}

.circle-3 {
  width: 90px;
  height: 90px;
  background-color: #fff;
  -webkit-animation-delay: 0.667s;
          animation-delay: 0.667s;
}

.circle-4 {
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #fff;
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0) rotate(0);
            transform: translate(-50%, -50%) scale(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(2) rotate(360deg);
            transform: translate(-50%, -50%) scale(2) rotate(360deg);
    opacity: 0;
  }
}

.intro__play-description {
	position: absolute;
	top: 62%;
	right: 12.5rem;
	max-width: 31.2rem;
	background-color: #fff;
	padding-left: 3.4rem;
	padding-right: 3.4rem;
	padding-top: 2.3em;
	padding-bottom: 2.3rem;
	border-radius: 5px;

	&::before {
		content: "";
		position: absolute;
		border: 1.2rem solid transparent;
		border-bottom: 1.5rem solid #fff;
		top: -2.6rem;
		left: 2rem;
	}

	p {
		font-size: 1.4rem;
		line-height: 2.2rem;
		color: #2d3150;
		opacity: 0.78;
	}
}

.main-title {
	font-size: 4.3rem;
	line-height: 5.7rem;
	color: #2d3150;
	font-weight: 400;
	padding-bottom: 2.7rem;

	span {
		color: #6eb5ee;
	}
}

.main-title--center {
	text-align: center;
}

.info {
	overflow: hidden;
	position: relative;
	padding-top: 8.5rem;
	padding-bottom: 8.8rem;
	
	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.info__title-content {
	max-width: 46rem;
	width: 100%;

	.btn-main__description {
		max-width: 30rem;
		text-align: center;
	}

	.btn-main {
		margin-bottom: 1.5rem;
	}
}

.main-title__description {
	font-size: 2rem;
	line-height: 3rem;
	color: #2d3150;
	opacity: 0.77;
	padding-bottom: 4.5rem;
}

.main-title__description--center {
	text-align: center;
}

.btn-main__description {
	position: relative;
	font-size: 1.4rem;
	color: #2d3150;
	opacity: 0.49;
	z-index: 2;
}

.info__book {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 94.6rem;
}

.info__list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 66.8rem;
	width: 100%;
	z-index: 2;
}

.info__item-wrap {
	max-width: 50%;
	width: 100%;

	&:first-child {
		max-width: none;

		.info__item-img {
			position: absolute;
			right: -4rem;
			bottom: -4.9rem;
		}

		.info__item {
			margin-left: auto;
			margin-right: 12rem;
		}
	}

	&:nth-child(2) {

		.info__item-img {
			position: absolute;
			right: -2.9rem;
			bottom: -4.9rem;
		}

		.info__item {
			margin-left: 6rem;
		}
	}

	&:nth-child(3) {

		.info__item-img {
			position: absolute;
			right: -2.9rem;
			bottom: -2rem;
		}

		.info__item {
			margin-left: auto;
			margin-top: 3rem;
		}
	}

	&:nth-child(4) {

		.info__item-img {
			position: absolute;
			right: -2.9rem;
			bottom: -9rem;
		}

		.info__item {
			margin-top: 2.7rem;
		}
	}

	&:nth-child(5) {

		.info__item-img {
			position: absolute;
			right: -2.9rem;
			bottom: -3rem;
		}

		.info__item-border {
			padding-top: 1.5rem;
		}

		.info__item {
			margin-top: .5rem;
		}
	}
}

.info__item {
	position: relative;
	max-width: 19.4rem;
	width: 100%;
	box-shadow: 0px 7px 70px 0px rgba(197, 197, 197, 0.22);
	border-radius: 8px;
	min-height: 8rem;
	padding: 8px;
	overflow: hidden;
	background-color: #fff;
	margin-bottom: 4.5rem;
}

.info__item-border {
	display: flex;
	border: 1px solid #f2f2f5;
	border-radius: 8px;
	height: 100%;
	min-height: 8rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 1.9rem;

	p {
		font-size: 1.4rem;
		height: 2.2rem;
		color: #2d3150;
		opacity: 0.78;
	}
}

.territory {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 7.7rem;
	padding-bottom: 6.5rem;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.main-title {
		padding-bottom: 4.2rem;
	}
}

.main-title--white {
	color: #fff;
}

.territory__title-content {
	max-width: 40.5rem;
	padding-top: 4.8rem;
}

.main-title__description--white {
	color: #fff;
}

.territory__list {
	max-width: 29.5rem;
	width: 100%;
}

.territory__item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: rgb(45, 49, 80);
	width: 16.6rem;
	height: 16.6rem;
	padding-right: 1.5rem;
	padding-left: 4.5rem;

	&:nth-child(odd) {
		margin-left: auto;
	}

	p {
		font-size: 1.4rem;
		line-height: 2.2rem;
		color: #ffffff;
		opacity: 0.78;
	}
}

.territory__item-img {
	position: absolute;
	left: -3rem;
	top: 50%;
	transform: translate(0, -50%);
}

.time-book {
	padding-bottom: 13.5rem;

	.container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.btn-main {
		max-width: 45.4rem;
		margin-top: 2.5rem;
	}

	.main-title {
		padding-bottom: 4.2rem;
	}

	.main-title__description {
		padding-bottom: 4.9rem;
	}
}

.time-book__title-content {
	max-width: 67.4rem;
	width: 100%;
}

.time-book__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.time-book__item {
	display: flex;
	align-items: flex-start;
	max-width: 31rem;
	width: 100%;
	padding-bottom: 6rem;

	strong {
		display: block;
		font-size: 1.8rem;
		color: #2d3150;
		font-weight: 400;
		padding-top: 1rem;
	}

	p {
		font-size: 1.6rem;
		line-height: 2.6rem;
		color: #2d3150;
		opacity: 0.74;
		padding-top: .6rem;

		span {
			border-bottom: 1px solid #6eb5ee;
			line-height: 2.6rem;
		}
	}
}

.time-book__item-img {
	display: flex;
	justify-content: center;
	min-width: 4.4rem;
	margin-right: 1.5rem;
}

.time-book__info {
	position: relative;
	max-width: 29.9rem;
	width: 100%;
	margin-right: 8.9rem;

	.intro__content-play {
		width: 9.4rem;
		left: 50%;
		top: 48%;
		transform: translate(-50%, -50%);
	}

	.intro__play-btn {
		width: 9.4rem;
		height: 9.4rem;
	}

	.intro__play-btn img {
		width: 1.8rem;
	}
}

.time-book__info-description {
	font-size: 1.4rem;
	line-height: 2.4rem;
	max-width: 23.4rem;
	margin: 0 auto;
	color: #2d3150;
	opacity: 0.49;
	text-align: center;
	padding-top: 3.2rem;
}

.time-book__video-description {
	position: absolute;
	max-width: 31.4rem;
	width: 100%;
	right: 0;
	bottom: 48rem;
	background-color: #fff;
	padding-left: 3.4rem;
	padding-right: 2.8rem;
	border-radius: 15px;
	padding-top: 3.3rem;
	padding-bottom: 3.3rem;
	box-shadow: 0px 0px 60.9px 9.1px rgba(92, 92, 92, 0.1);

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/ttel-mask.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		bottom: -6.7rem;
		left: 3.2rem;
		width: 12.2rem;
		height: 10.3rem;
	}

	p {
		font-size: 1.6rem;
		line-height: 2.6rem;
		color: #2d3150;
		opacity: 0.77;
	}
}

.structure {
	padding-top: 11rem;
	padding-bottom: 15.5rem;

	.container {
		position: relative;
	}

	.main-title {
		max-width: 96rem;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 17rem;
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	.slick-prev {
		font-size: 0;
		background-image: url("../img/sl-prev.png");
		background-size: contain;
		background-repeat: no-repeat;
		width: 2rem;
		height: 3.8rem;
		left: -8.8rem;
		background-color: transparent;
		transition: all .3s;

		&:hover {
			opacity: 0.8;
		}
	}

	.slick-next {
		font-size: 0;
		background-image: url("../img/sl-next.png");
		background-size: contain;
		background-repeat: no-repeat;
		width: 2rem;
		height: 3.8rem;
		right: -8.8rem;
		background-color: transparent;
		transition: all .3s;

		&:hover {
			opacity: 0.8;
		}
	}

	.slick-dots {
		position: absolute;
		top: -10rem;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 0);
	}

	.slick-dots li {
		width: auto;
		margin: 0;
		margin-right: 15px;


		&:last-child {
			margin-right: 0;
		}

		&.slick-active a {
			background-color: #e7cda1;
			color: rgba(47, 42, 42,1);
		}

		a {
			display: block;
			width: auto;
			line-height: 4rem;
			background-color: #f4f2f1;
			border-radius: 30px;
			padding-left: 2.3rem;
			padding-right: 2.3rem;
			font-size: 1.2rem;
			color: rgba(47, 42, 42,0.4);
			letter-spacing: 0.04em;
			text-transform: uppercase;
			font-weight: 700;
			transition: all .3s;

			&:hover {
				background-color: #e7cda1;
				color: rgba(47, 42, 42,1);
			}
		}
	}
}

.structure__slider {
	max-width: 99.2rem;
	width: 100%;
	margin: 0 auto;
	border-radius: 23px;
	box-shadow: 0px 0px 60.9px 9.1px rgba(92, 92, 92, 0.1);
	background-color: #fff;
}

.structure__slide-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	// padding: 1.5rem;
	width: 100%;
	height: 42.8rem;

	&::before {
		content: "";
		position: absolute;
		border: 1px solid #cfccc9;
		width: 97%;
		height: 93%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.5;
	}
}


// .structure__slide-item-border {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	height: 100%;
// 	width: 100%;
// 	border: 1px solid #cfccc9;
// }

.structure__slide-item-img {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 52.8rem;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	border-top-left-radius: 23px;
	border-bottom-left-radius: 23px;	
}

// .structure__slide-item-img-wrap {
// 	max-width: 52.8rem;
// 	min-width: 52.8rem;
// 	width: 100%;
// 	height: 100%;
// 	border-radius: 23px;
// 	overflow: hidden;
// }

.structure__slide-item-content {
	max-width: 29.4rem;
	width: 100%;
	margin: 0 auto;

	h4 {
		font-size: 3.6rem;
		line-height: 4.8rem;
		color: #2d3150;
		opacity: 0.58;
		font-weight: 400;
		padding-bottom: 3.2rem;
	}

	p {
		font-size: 2rem;
		line-height: 3rem;
		color: #2d3150;
		opacity: 0.71;
	}
}

.position {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 12.3rem;
	padding-bottom: 12rem;

	.container {
		position: relative;
	}

	.main-title {
		padding-bottom: 4.2rem;
	}
}

.position__title-content {
	max-width: 62.8rem;
	width: 100%;
}

.position__img {
	width: 100%;
	margin-top: -30rem;
}

.position__item {
	position: absolute;
	max-width: 15rem;
	width: 100%;

	p {
		font-size: 1.4rem;
		line-height: 2.2rem;
		color: #ffffff;
		opacity: .3;
	}
}

.position__item:nth-child(1) {
	bottom: 18rem;
	left: 39rem;
}

.position__item:nth-child(2) {
	bottom: 20rem;
	left: 68rem;
}

.position__item:nth-child(3) {
	bottom: 29.5rem;
	left: 87.5rem;
}

.position__item:nth-child(4) {
	bottom: 41rem;
	right: 5rem;
} 

.position__item:nth-child(5) {
	bottom: 10rem;
	right: -2.5rem;
} 

.position__item:nth-child(6) {
	bottom: -6rem;
	right: 29rem;
} 


.position__item-time {
	display: block;
	font-size: 3.1rem;
	color: #fff;
	font-weight: 400;
	padding-bottom: 3px;
}

.apartments {
	position: relative;
	padding-top: 12rem;
	padding-bottom: 9.4rem;
}

.apartments__title-content {
	max-width: 56rem;
	margin: 0 auto;
}

.apartments__list {
	padding-top: 3rem;
}

.apartments__item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 99.2rem;
	width: 100%;
	margin: 0 auto;
	border-radius: 23px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 60.9px 9.1px rgba(92, 92, 92, 0.1);
	overflow: hidden;
	padding-right: 15px;
	margin-bottom: 3rem;

	&::before {
		content: "";
		position: absolute;
		border: 1px solid #cfccc9;
		width: 97%;
		height: 93%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.5;
		z-index: 2;
		pointer-events: none;
	}
}

.apartments__img {
	position: relative;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 54rem;
	width: 100%;
	height: 42.8rem;
	margin-right: 15px;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		opacity: 0;
		transition: all .3s;
	}

	&::after {
		content: "";
		position: absolute;
		background-image: url("../img/lupa.svg");
		width: 9.4rem;
		height: 9.4rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: all .3s;
	}

	&:hover {
		
		&::before {
			opacity: 1;
		}

		&::after {
			opacity: 1;
		}
	}
}

.apartments__content {
	max-width: 33.6rem;
	width: 100%;
	margin: 0 auto;

	.btn-main {
		max-width: none;
	}

	h4 {
		font-size: 3rem;
		font-weight: 400;
		color: #2d3150;
		opacity: 0.58;
		padding-bottom: 2.8rem;
	}

	ul {
		padding-bottom: 3.2rem;

		li {
			position: relative;
			font-size: 1.8rem;
			color: #2d3150;
			opacity: 0.71;
			padding-left: 3.2rem;
			padding-bottom: 2rem;

			&::before {
				content: "";
				position: absolute;
				top: .6rem;
				left: 0;
				width: .8rem;
				height: .8rem;
				border-radius: 50%;
				background-color: #100e22;
			}
		}
	}
}

.selection {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 12rem;
	padding-bottom: 9.7rem;

	.main-title {
		padding-bottom: 2rem;
	}

	.btn-main {
		max-width: 39.2rem;
		margin-right: 5rem;
		box-shadow: none;
	}

	.main-title__description {
		padding-bottom: 3.7rem;
	}
}

.selection__info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20.2rem;
	height: 20.3rem;
	border-radius: 50%;
	background-color: rgb(45, 49, 80);
	padding-left: 4.4rem;
	padding-right: 4.4rem;
	text-align: center;

	p {
		font-size: 1.4rem;
		line-height: 2.2rem;
		color: #ffffff;
		opacity: 0.78;
	}
}

.selection__panel {
	display: flex;
	align-items: center;
	margin-top: -6.7rem;
}

.deal {
	position: relative;
	padding-top: 8.8rem;
	padding-bottom: 17.5rem;
}

.deal__title-content {
	max-width: 83.4rem;
	width: 100%;
	margin: 0 auto;
}

.deal__content {
	max-width: 44.5rem;
	width: 100%;
	margin-left: auto;
	padding-right: 15px;
	padding-top: 3rem;

	ul {
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			background-image: url("../img/d-mask.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 26.2rem;
			height: 34.3rem;
			z-index: -1;
			left: 9.5rem;
			top: -3rem;
		}

		li {
			position: relative;
			font-size: 1.6rem;
			color: #2d3150;
			opacity: 0.74;
			padding-left: 4.4rem;
			padding-bottom: 4.7rem;

			&:last-child {
				padding-bottom: 0;
			}

			&::before {
				content: "";
				position: absolute;
				background-image: url('../img/d-list.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				width: 2.1rem;
				height: 3.5rem;
				left: 0;
				top: -5px;
			}
		}
	}
}

.deal__copyright {
	display: flex;
	align-items: center;
	margin-left: -3rem;
	padding-top: 4.7rem;

	p {
		font-size: 1.4rem;
		color: #2d3150;
		line-height: 2.4rem;
		opacity: 0.49;
	}
}

.deal__copyright-img {
	max-width: 14.4rem;
	margin-right: 2rem;
}

.builders {
	padding-bottom: 13.4rem;
}

.builders__title-content {
	max-width: 88.6rem;
	width: 100%;
	margin: 0 auto;
}

.builders__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -37px;
	margin-right: -37px;
	padding-top: 9.3rem;
}

.builders__item-wrap {
	flex: 0 0 33.333%;
	max-width: 33%;
	padding-left: 37px;
	padding-right: 37px;

	&:nth-child(1) {
		.builders__item-img {
			position: absolute;
			min-width: 49rem;
			top: -9rem;
			left: -7.5rem;
		}
	}

	&:nth-child(2) {
		.builders__item-img {
			position: absolute;
			min-width: 32.6rem;
			top: -15rem;
			left: 0.5rem;
		}
	}

	&:nth-child(3) {
		.builders__item-img {
			position: absolute;
			min-width: 55.8rem;
			top: -6rem;
			left: -12.5rem;
		}
	}
}

.builders__item {
	position: relative;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 60.9px 9.1px rgba(92, 92, 92, 0.1);
	text-align: center;
	padding: 2.3rem;
	height: 100%;

	h4 {
		font-size: 2rem;
		color: #2d3150;
		font-weight: 400;
		padding-bottom: 2.7rem;
	}

	p {
		font-size: 1.4rem;
		line-height: 2rem;
		color: #2d3150;
		opacity: .82;
		padding-bottom: 2rem;
	}
}

.builders__item-border {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #e9e6e4;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
	padding-top: 27rem;
	padding-bottom: 2.1rem;
	height: 100%;
}

.builders__item-link {
	font-size: 1.4rem;
	color: #e2caaa;
	transition: all .3s;

	&:hover {
		opacity: .8;
	}
}

.buying {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	padding-top: 11rem;
	padding-bottom: 12.5rem;

	.container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.main-title {
		padding-bottom: 0rem;
	}
}

.buying__title-content {
	max-width: 54.6rem;
	width: 100%;
	margin-right: 30px;

	p {
		font-size: 2rem;
		line-height: 3rem;
		color: #ffffff;
		opacity: .77;
		padding-bottom: 2rem;
	}

	p:last-of-type {
		padding-bottom: 0;
	}
}

.buying__card-content {
	display: flex;
	align-items: center;
	margin-left: -6rem;
	padding-bottom: 1.5rem;
}

.buying__card-img {
	max-width: 30.3rem;
	margin-right: 1.5rem;	
}

.main-form {
	position: relative;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	max-width: 45.2rem;
	width: 100%;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		top: -1000px;
		width: 100%;
		height: 5000px;
		left: 0;
		background-color: rgba(43, 44, 49,0.6);
		-webkit-backdrop-filter: blur(10px);
  		backdrop-filter: blur(10px);  
		border-radius: 10px;
		box-shadow: 0px 0px 52.7px 9.3px rgba(12, 12, 12, 0.2);
		z-index: -1;
	}

	.btn-main {
		max-width: 33.2rem;
		margin: 0 auto;
		margin-bottom: 2.5rem;
		box-shadow: 0px 38px 65px 0px rgba(234, 215, 186, 0.2);
	}
}

.main-form--blue {

	&::before {
		background-color: rgba(255, 255, 255,0.03);
	}
}

.main-form__title {
	font-size: 2.4rem;
	color: #ffffff;
	line-height: 3.4rem;
	font-weight: 400;
	padding-bottom: 2rem;
}

.main-form__wrap {
	border: 1px solid rgba(255,255,255,0.5);
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 4rem;
	padding-bottom: 4.5rem;
}

.main-form__field {
	position: relative;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.7);
	margin-bottom: 6rem;

	&:last-of-type {
		margin-bottom: 5.5rem;
	}

	input {
		width: 100%;
		background-color: transparent;
		font-size: 1.4rem;
		color: #ffffff;
		opacity: .73;
		padding-bottom: 2.1rem;
		padding-left: 4rem;
		padding-right: 1rem;

		&::placeholder {
			opacity: 1;
			color: #ffffff;
		}
	}

	label.error {
		position: absolute;
		font-size: 1.4em;
		color: #fd223e;
		bottom: -2rem;
		left: 4rem;
	}
}

.main-form__field--user {
	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/user.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 2.1rem;
		height: 2.1rem;
		left: 0;
		top: -2px;
	}
}

.main-form__field--tel {
	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/tel-input.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 2.4rem;
		height: 2.4rem;
		left: 0;
		top: -2px;
	}
}

.main-form__checkbox {
	position: relative;
	text-align: center;

	label.error {
		position: absolute;
		font-size: 1.4em;
		color: #fd223e;
		bottom: -2rem;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
	}
}

.main-form__label {
	position: relative;
	font-size: 1.2rem;
	color: rgba(255,255,255,0.57);
	padding-left: 2.5rem;
	cursor: pointer;
	margin-left: -2rem;

	&::before {
		content: "";
		position: absolute;
		width: 1.3rem;
		height: 1.3rem;
		border-radius: 50%;
		border: 1px solid #dfc8aa;
		background-color: transparent;
		left: 0;
		top: 0;
	}
}

.main-form__radio {
	padding-bottom: 2.5rem;
}

.main-form__label-radio {
	display: block;
	position: relative;
	font-size: 1.6rem;
	color: #2d3150;
	opacity: .77;
	padding-left: 5rem;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		width: 2.2rem;
		height: 2.2rem;
		border-radius: 50%;
		border: 1px solid #dfc8aa;
		background-color: #fff7f3;
		left: 0;
		top: 0;
	}
}

input[type=checkbox] {
  opacity: 0;
  height: 0;
  width: 0;
}

input[type=radio] {
  opacity: 0;
  height: 0;
  width: 0;
}


.main-form__checkbox input[type=checkbox]:checked~label.main-form__label::after {
  content: "";
  position: absolute;
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background-color: #dfc8aa;
  left: .3rem;
  top: .3rem;
}

.main-form__radio input[type=radio]:checked~label.main-form__label-radio::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #ebd7ba;
  left: .5rem;
  top: .5rem;
}

.investing {
	position: relative;
	padding-top: 11.2rem;
	padding-bottom: 10.5rem;

	.container {
		display: flex;
		align-items: flex-start;
	}
}

.investing__title-content {
	max-width: 72.5rem;
	width: 100%;
}

.investing__text {
	max-width: 42.4rem;
	width: 100%;
	margin-left: 1.5rem;
	font-size: 2rem;
	line-height: 3rem;
	padding-top: .4rem;
	padding-bottom: 4.5rem;
	color: #2d3150;
	opacity: .77;
}

.investing__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 1.5rem;
}

.investing__item-wrap {

	&:first-child {
		width: 100%;
	}
}

.investing__item {
	display: block;
	max-width: 30.6rem;
	width: 100%;
	padding-bottom: 5.2rem;

	strong {
		display: block;
		font-size: 4rem;
		color: #2d3150;
		font-weight: 400;
		padding-bottom: 1.6rem;

		span {
			font-size: 3.4rem;
		}
	}

	p {
		font-size: 1.6rem;
		line-height: 2.6rem;
		opacity: .71;
	}
}

.investing__info {
	position: relative;
	margin-left: 1rem;
}

.investing__info-text {
	max-width: 26.5rem;
	width: 100%;
	font-size: 1.6rem;
	line-height: 2.6rem;
	color: #2d3150;
	padding-top: 2.9rem;
	opacity: .77;
}

.investing__info-description {
	position: absolute;
	top: 31rem;
    left: -21rem;
	width: 35rem;
	box-shadow: 0px 0px 60.9px 9.1px rgba(92, 92, 92, 0.1);
	border-radius: 30px;
	background-color: #fff;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 4.2rem;
	padding-bottom: 4.2rem;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/inv-mask.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 4.8rem;
		height: 5.8rem;
		right: 9rem;
		bottom: -5.5rem;
		z-index: -1;
	}

	p {
		font-size: 1.4rem;
		line-height: 2.4rem;
		color: #2d3150;
		opacity: .77;
	}
}

.investing__info-description-title {
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #2d3150;
	font-weight: 400;
}

.excursion {
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 11.2rem;
	padding-bottom: 11.8rem;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.excursion__title-content {
	max-width: 60.4rem;
	width: 100%;
	margin-right: 30px;
}

.excursion__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 53.5rem;
	margin: 0 auto;
	padding-top: 20rem;
}

.excursion__item {
	position: relative;
	padding-left: 6.2rem;
	padding-bottom: 3rem;

	&::before {
		content: "";
		position: absolute;
		width: 3.8rem;
		height: 3.8rem;
		background-color: rgba(255,255,255,0.5);
		border-radius: 50%;
		left: 0;
		top: 0.5rem;
	}

	&::after {
		content: "";
		position: absolute;
		width: 2.2rem;
		height: 2.2rem;
		background-color: #fff;
		border-radius: 50%;
		left: 0.8rem;
		top: 1.3rem;
	}

	&:nth-child(odd) {
		max-width: 26rem;
		width: 100%;
	}

	&:nth-child(even) {
		max-width: 18.8rem;
		width: 100%;
	}

	p {
		font-size: 1.6rem;
		line-height: 2.6rem;
		color: #ffffff;
		opacity: .71;
	}
}

.main-form__subtitle {
	font-size: 1.6rem;
	line-height: 2.6rem;
	color: #ffffff;
	opacity: .7;
	padding-bottom: 4rem;
}

.contacts {
	position: relative;
	padding-top: 11.5rem;
	padding-bottom: 37.5rem;

	.main-title {
		position: relative;
		max-width: 51rem;
		width: 100%;
		margin: 0 auto;
		z-index: 2;
	}
}

.contacts__info {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	overflow: hidden;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 60.9px 9.1px rgba(92, 92, 92, 0.1);
	padding-left: 5.3rem;
	padding-right: 5.3rem;
	padding-top: 5.3rem;
	padding-bottom: 4.3rem;
	margin-top: 4rem;
	z-index: 2;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/cont-tel.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 44.5rem;
		height: 44.5rem;
		right: 19rem;
		bottom: -19rem;
		z-index: -1;

	}
}

.contacts__info-left {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 52.2rem;
	width: 100%;
	margin-right: 30px;
}

.contacts__info-item {
	max-width: 23.4rem;

	p {
		font-size: 1.6rem;
		line-height: 2.6rem;
		color: #2d3150;
		opacity: .6;

		a {
			color: #2d3150;
		}
	}

	.btn-main {
		max-width: 21.4rem;
		margin-top: 2.5rem;
	}
}

.contacts__info-title {
	display: block;
	font-size: 1.8rem;
	color: #2d3150;
	font-weight: 400;
	padding-bottom: 2rem;
}

.contacts__info-right {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 47.6rem;
	width: 100%;
}

.footer {
	padding-top: 3.5rem;
	padding-bottom: 3rem;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	p {
		max-width: 26rem;
		font-size: 1.4rem;
		line-height: 2.4rem;
		color: #0e0e0e;
		opacity: .6;
	}
}

.footer__logo {
	width: 9.6rem;
}

.footer__social {
	display: flex;
	align-items: center;
}

.footer__social-item {
	max-width: 3rem;
	margin-right: 1.4rem;
	transition: all .3s;

	&:hover {
		opacity: .8;
	}

	&:last-child {
		margin-right: 0;
	}
}

.footer__social-item--fb {
	max-width: 2.5rem;
}

.footer__social-item--inst {
	max-width: 2.5rem;
}

.footer__tel {
	font-size: 2.7rem;
	color: #2d3150;
}

.fancybox-button--zoom {
	display: none !important;
}

.fancybox-button--play {
	display: none !important;
}

.position__item-img-mob {
	display: none;
}

.footer__info-panel {
	display: flex;
	justify-content: space-between;
	max-width: 57.4rem;
	width: 100%;
}

.popup {
	display: none;
	position: relative;
	max-width: 99.4rem;
	width: 100%;
	border-radius: 23px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 60.9px 9.1px rgba(92, 92, 92, 0.1);
	padding: 3rem 3.3rem;
	z-index: 1;

	&.fancybox-content {
		overflow: initial;
	}

	.main-form {
		max-width: 45.3rem;
		width: 100%;
		padding-left: 6.4rem;
		padding-right: 6.4rem;
		padding-top: 6.5rem;
		padding-bottom: 7rem;

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}
	}

	.main-form__title {
		font-size: 3rem;
		color: #2d3150;
	}

	.main-form__subtitle {
		color: #2d3150;
	}

	.main-form__field input {
		color: #2d3150;

		&::placeholder {
			color: #2d3150;
		}
	}

	.main-form__field {
		border-bottom: 1px solid #abadb9;
	}

	.main-form__label {
		color: #2d3150;
	}

	.main-form__field--user::before {
		background-image: url("../img/inp-1.png");
	}

	.main-form__field--tel::before {
		background-image: url("../img/inp-2.png");
	}

	.fancybox-button svg {
		display: none;
	}

	.fancybox-button {
		top: -6rem;
		right: 6.2rem;
		padding: 0;
		opacity: 1;

		&::before {
			content: "закрыть";
			position: absolute;
			font-size: 1.2rem;
			color: #ffffff;
			opacity: 0.82;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}

.popup-small {
	max-width: 51.6rem;
	width: 100%;

	.main-form {
		padding-left: 6.2rem;
		padding-right: 6.2rem;
	}
}

.popup__wrap {
	border: 1px solid #f1eeed;
}

.popup__content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.popup__img {
	position: absolute;
	pointer-events: none;
	right: 0;
	top: 3rem;
	z-index: -1;
	max-width: 59rem;
	width: 100%;
}

.popup__img-bg {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 49.6rem;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	border-top-right-radius: 23px;
	border-bottom-right-radius: 23px;
	z-index: -1;
}

.popup-quiz {

	.btn-main {
		max-width: 21.2rem;
		width: 100%;
		margin: 0;
		margin-top: 2rem;
		margin-bottom: 2.5rem;
	}

	.main-form {
		max-width: 54.6rem;
		width: 100%;
		padding-top: 4.3rem;
		padding-bottom: 6.2rem;
	}

	.main-form__title {
		padding-bottom: 5rem;
	}

	.popup__img-bg {
		max-width: 41.2rem;
	}

	.popup__content {
		align-items: flex-end;
	}
}

.popup__info-name {
	font-size: 1.4rem;
	color: #2d3150;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	background-color: #fff;
	border-top-left-radius: 7px;
	padding-bottom: .5rem;
	padding-top: 2px;

	&:last-of-type {
		border-top-left-radius: 0;
		border-bottom-right-radius: 7px;
	}
}

.popup__info-name-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 25rem;
	margin: 0 auto;
	right: -2rem;
}

.popup__info {
	max-width: 38rem;
	width: 100%;
	padding-bottom: 6.2rem;
}

.popup__info-description {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	line-height: 2.2rem;
	color: rgba(255,255,255,0.78);
	width: 18.8rem;
	height: 18.8rem;
	background-color: #2d3150;
	border-radius: 50%;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: -6rem;
	margin-bottom: 3.5rem;
}

.popup-quiz__counter {
	position: absolute;
	top: 0;
	left: 1.7rem;
	width: 5.8rem;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/c-mask.png");
		width: 100%;
		height: 9.7rem;
		background-size: contain;
		background-repeat: no-repeat;
		left: 0;
		top: 0;
		z-index: -1;
	}

	span {
		display: block;
		color: #2d3150;
		opacity: .3;
	}
}

.popup-quiz__counter-start {
	position: relative;
	font-size: 3.6rem;
	padding-left: 1rem;
	padding-top: .5rem;

	&::before {
		content: "/";
		position: absolute;
		left: 2.6rem;
		top: 2.2rem;
		font-size: 3rem;
	}
}

.popup-quiz__counter-sum {
	position: absolute;
	font-size: 1.4rem;
	margin-left: auto;
	right: 1.1rem;
	top: 3.7rem;
}

.main-form__tab-list-wrap {
	display: none;

	&.active {
		display: block;
	}
}

.main-form__tabs {
	max-width: 32.5rem;
	width: 100%;
}

.contact-info__tabs-list {
	display: flex;
	padding-bottom: 3.7rem;
}

.contact-info__tabs-item {
	position: relative;
	display: block;
	padding-left: 3.4rem;
	padding-right: 2.2rem;
	background-color: #f4f1f0;
	border: 1px solid #f4f1f0;
	transition: all .3s;
	cursor: pointer;
	font-size: 1.2rem;
	color: rgba(47,42,42,0.4);
	border-radius: 100px;
	line-height: 3rem;
	margin-right: 8px;

	&.active {
		background-color: #fff;
		border: 1px solid #2d3150;
		color: #2d3150;

		&::before {
			opacity: 1;
		}
	}
}

.contact-info__tabs-item--mail::before {
	content: "";
	position: absolute;
	background-image: url("../img/email-q.svg");
	width: 1.5rem;
	height: 1.2rem;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: .3;
	top: 50%;
	transform: translate(0, -50%);
	left: 1.4rem;
	transition: all .3s;
}

.contact-info__tabs-item--wa::before {
	content: "";
	position: absolute;
	background-image: url("../img/wap.svg");
	width: 1.6rem;
	height: 1.4rem;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: .5;
	top: 50%;
	transform: translate(0, -50%);
	left: 1.4rem;
	transition: all .3s;
}

.popup-quiz--last {

	.btn-main {
		max-width: 32.5rem;
	}

	.main-form__field--user::before {
		background-image: url("../img/email-q.svg");
		width: 2.4rem;
		height: 2.4rem;
		opacity: .6;
	}

	.main-form__field {
		margin-bottom: 5rem;
	}

	.main-form__checkbox {
		text-align: left;
		padding-left: 2rem;
	}

	.main-form__title {
		padding-bottom: 3rem;
	}

	.main-form__subtitle {
		padding-bottom: 4.5rem;
	}
}

.dispatch-message {
	position: absolute;
	font-size: 1.6rem;
	color: #55ea55;
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
}





.quiz-step {
	display: none;
}
.quiz-step.step-1 {
	display: block;
}
.quiz-button-final {
	display: none;
}

.quiz-description-main {

}
.quiz-description-final {
	display: none;
}

.contacts__map {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 82.5rem;
	width: 100%;

	&::before {
	    content: "";
	    position: absolute;
	    top: 0;
	    right: 0;
	    height: 30rem;
	    width: 100%;
	    z-index: 2;
	    pointer-events: none;
	    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
	    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
	    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, white 100%);
	}
}

#map {
	height: 82.5rem;
	width: 100%;
}

.info-panel {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-top: 1px solid #e4ebf1;
	z-index: 20;

	p {
		margin-right: 20px;
		font-size: 1.4rem;
		line-height: 1.5rem;
		color: #2d3150;
	}
}

.info-panel__close {
	padding: 8px;
	border-radius: 50px;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #2d3150;
	background-color: #e4ebf1;
	transition: all .3s;

	&:hover {
		opacity: .7;
	}
}

@import "media-desktop";
@import "media-mobile";